:root{
    font-size: 62.5%;
}

body p{
    font-size: 1.6em;
}

h1, h2, h3{
    font-size: 3em;
    text-decoration: underline;
}

nav ul{
    font-size: 1.6em;
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 1.6em;
    margin: 1.5em;
    background-color: #8ce6cc;
    border-radius: 2em;
}

nav a{
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5%;
    color: black;
    padding: 1em;
}

nav a:hover{
    background-color: #1698a1;
    border-radius: 1.5em;
    color: white;
}

#headshot{
    display: block;
    border-radius: 2em 7em 3em 9em ;
}

#resume{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0.5em solid #1698a1;
    border-radius: 4em;
}

section a{
    text-decoration: none;
    font-size: 1.0em;
    color: #1698a1;
}

.project{
    font-size: 2em;
}

a:hover{
    color: black;
}

#email{
    font-size: 1em;
}

.icon{
    display: inline-block;
    border-radius: 2em;
}

/* Make table border thicker than table outputs*/
table{
    border: #1698a1 5px solid;
}

th{
    border: #1698a1 3px solid;
    border-radius: 0.35em;
    font-size: 1.8em;
    text-align: center;
}

td{
    border: #1698a1 2px solid;
    border-radius: 0.35em;
    font-size: 1.5em;
    padding: 0.3em;
    text-align: center;
}

ol li{
    font-size: 1.6em;
}

.contact-sentence{
    font-size: 1.8em;
}

label, input {
    display: flex;
    font-size: 1.3em;
    justify-content: center;
    width: 20em;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#message-box{
    padding-bottom: 3em;
   /* overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all; - I tried to make the words wrap inside the text box but couldn't figure out how to do it after an hour of tweaking it.*/
}

/* Trying out the grid diplay*/
#mohamad-awada{
     display: grid;
     grid-template-columns: repeat(10, 10%);
     grid-template-rows: repeat(10, 10%);
}
#mohamad-awada #greeting{
   grid-column: 5 / span 2;
   grid-row: 1 / 2;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}

#mohamad-awada header{
    grid-area: 2 / 5 / 3 / 5;
}

#btn-alert{
    grid-area: 8 / 5 / 9 / span 2;
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.5em;
    font-weight: bold;
    background-color: #1698a1;
    color: white;
}

#btn-alert:hover{
    grid-area: 8 / 5 / 9 / span 2;
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    font-weight: bold;
    background-color: #8ce6cc;
    color: white;
}

#mohamad-awada p{
    grid-area: 4 / 5 / 7 / 5
}

#mohamad-awada img{
    grid-area: 3 / 6 / 2 / 7;
}

#my-resume{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}

#my-resume header{
    grid-area: 1 / 7 / 2 / 10;
}

#my-resume #p1{
    grid-area: 2 / 7 / 4 / 10;
}

#my-resume table{
    grid-area: 5 / 7 / 6 / 8;
}

#my-resume img{
    grid-area: 1 / 2 / 5 / 5;
}

#my-recent-work{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}

#my-recent-work header{
    grid-area: 1 / 2 / 3 / 4;
}

#my-recent-work #p2{
    grid-area: 4 / 2 / 5 / 3;
}

#my-recent-work ol{
    grid-area: 4 / 3 / 4 / 4;
}

#my-recent-work #p3{
    grid-area: 4 / 4 / 5 / 5;
}

#my-recent-work #a1{
    grid-area: 4 / 6 / 8 / 8;
}

#my-recent-work #a2{
    grid-area: 6 / 6 / 8 / 8;;
}

#my-recent-work #a3{
    grid-area: 8 / 6 / 8 / 8;
}

/* back to flex display here*/
#about-me header{
    display: flex;
    justify-content: flex-start;
}

#about-me p{
    display: flex;
    justify-content: flex-start;
    margin-right: 30%;
    padding-left: 1em;
}

#who-i-am header{
    display: flex;
    justify-content: flex-end;
}

#who-i-am p{
    display: flex;
    justify-content: flex-end;
    margin-left: 30%;
    padding-right: 1em;
}

#my-hobbies-and-interests header{
    display: flex;
    justify-content: flex-start;
}

#my-hobbies-and-interests p{
    display: flex;
    justify-content: flex-start;
    margin-right: 30%;
    padding-left: 1em;
}

.about, .contact, .home{
    font-family: "Quicksand", sans-serif, 'Times New Roman', Times, serif;
}

.about section:nth-child(even){
    background-color: #1698a1;
    padding-bottom: 1em;
    border-radius: 1em;
}

.about section:nth-child(odd){
    background-color: #8ce6cc;
    padding-bottom: 1em;
    border-radius: 1em;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: grey;
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 2em;
    font-size: 1.2em;
    padding-top: 2em;
}

.morning{
    background-color: orange;
    color: white;
    border-radius: 1em;
    font-weight: bold;
    padding: 1em;
    margin: 1em;
    align-self: center;
}

.afternoon{
    background-color: lightblue;
    color: white;
    border-radius: 1em;
    font-weight: bold;
    padding: 1em;
    margin: 1em;
    align-self: center;
}

.evening{
    display: flex;
    background-color: darkblue;
    color: white;
    border-radius: 1em;
    font-weight: bold;
    padding: 1em;
    margin: 1em;
    align-self: center;
}

@media (max-width: 1024px){
    #mohamad-awada, #my-resume, #my-recent-work{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1024px){
    #mohamad-awada img, #my-resume img{
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}