:root{
    font-size: 62.5%;
}

body p{
    font-size: 1.6em;
}

h1, h2, h3{
    font-size: 3em;
    text-decoration: underline;
}

nav ul{
    font-size: 1.6em;
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 1.6em;
    margin: 1.5em;
    background-color: #8ce6cc;
    border-radius: 2em;
}

nav a{
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5%;
    color: black;
    padding: 1em;
}

nav a:hover{
    background-color: #1698a1;
    border-radius: 1.5em;
    color: white;
}

#headshot{
    display: block;
    border-radius: 2em;
}

#resume{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0.5em solid #1698a1;
    border-radius: 4em;
}

section a{
    text-decoration: none;
    font-size: 1.0em;
    color: #1698a1;
}

.project{
    font-size: 2em;
}

a:hover{
    color: black;
}

#email{
    font-size: 1em;
}

.icon{
    display: inline-block;
    border-radius: 2em;
}

/* Make table border thicker than table outputs*/

table{
    border: #1698a1 5px solid;
}

th{
    border: #1698a1 3px solid;
    border-radius: 0.35em;
    font-size: 1.8em;
    text-align: center;
}

td{
    border: #1698a1 2px solid;
    border-radius: 0.35em;
    font-size: 1.5em;
    padding: 0.3em;
    text-align: center;
}

ol li{
    font-size: 1.6em;
}

.contact-sentence{
    font-size: 1.8em;
}

label, input {
    display: flex;
    font-size: 1.3em;
    justify-content: center;
    width: 20em;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#message-box{
    padding-bottom: 3em;
   /* overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all; - I tried to make the words wrap inside the text box but couldn't figure out how to do it after an hour of tweaking it.*/
}

/* Trying out the grid diplay*/
#mohamad-awada{
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}

#mohamad-awada header{
    grid-area: 2 / 2 / 3 / 4;
}

#mohamad-awada p{
 grid-area: 3 / 2 / 6 / 4
}

#mohamad-awada img{
    grid-area: 3 / 4 / 2 / 5;
}

footer{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 2em;
}